
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}
.main-container{
    width: 100%;
    height: 100dvh;
    background: url(imgs/bg.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    position: absolute;
}
.reg-txt{
    font-weight: 400;
}
.weather-box{
    width: 600px;
    height: 500px;
    /* border: 2px solid black; */
    z-index: 1;
    background: linear-gradient(to top ,rgba(0,0,0,0.15),rgba(255,255,255,0.15));
    backdrop-filter: blur(100px);
    border-radius: 12px;
    overflow: hidden;
    padding: 20px;
    font-weight: 600;
}
.input-header{
    position: relative;
    margin-bottom: 25px;
}
#search-city{
    width: 100%;
    padding:15px 20px;
    border-radius:100px;
    border: 3px solid transparent;
    outline: none;
    color: white;
    font-size: 16px;
    padding-right: 45px;
    background:rgba(0, 0, 0, 0.15);
    transition: 0.3s border;
}
#search-city:focus{
    border: 3px solid rgba(0, 0, 0, 0.15);
}
#search-city::placeholder{
    color: rgba(255,255,255,0.85);
    font-size:16px;
}
.input-header button{
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background: none;
    cursor: pointer;
    color: rgba(255,255,255,0.85);
    border: none;
    display: flex;
}
.location{
    display: flex;
    align-items: center;
    gap: 5px;
}
.weather-location-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}