
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}
.main-container{
    width: 100%;
    height: 100dvh;
    background: url(imgs/bg.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    position: absolute;
}
.reg-txt{
    font-weight: 400;
}
.weather-box{
    width: 600px;
    height: 500px;
    /* border: 2px solid black; */
    z-index: 1;
    background: linear-gradient(to top ,rgba(0,0,0,0.15),rgba(255,255,255,0.15));
    backdrop-filter: blur(100px);
    border-radius: 12px;
    overflow: hidden;
    padding: 20px;
    font-weight: 600;
}
.input-header{
    position: relative;
    margin-bottom: 25px;
}
#search-city{
    width: 100%;
    padding:15px 20px;
    border-radius:100px;
    border: 3px solid transparent;
    outline: none;
    color: white;
    font-size: 16px;
    padding-right: 45px;
    background:rgba(0, 0, 0, 0.15);
    transition: 0.3s border;
}
#search-city:focus{
    border: 3px solid rgba(0, 0, 0, 0.15);
}
#search-city::placeholder{
    color: rgba(255,255,255,0.85);
    font-size:16px;
}
.input-header button{
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background: none;
    cursor: pointer;
    color: rgba(255,255,255,0.85);
    border: none;
    display: flex;
}
.location{
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 5px;
}
.location span{
    font-size: 30px;
}
.weather-data{
    padding: 0 30px;
}
.weather-location-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weather-info-container{
    display: flex;
    justify-content: space-between  ;
    align-items: center;
}
.weather-info-container img{
    width: 130px;
    height: 130px;
}
.temp-txt{
    font-size:30px;
}
.temp-condition{
    font-size: 20px;
}
.weather-condition-container{
    display: flex;
    justify-content: space-between;
}
.condition-item{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}
.condition-item span{
    font-size: 30px;
}
.forecast-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 40px;
}
.forecast-item{
    background: rgba(255,255,255,0.1);
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    border-radius: 12px;
    padding: 10px;
}
.forecast-item img{
    width: 50px;
    height: 50px;
}
.forecast-item:hover{
    background: rgba(255,255,255,0.15);
}
.section-msg img{
    width: 300px;
}
.section-msg {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}
/* =======================media for mobiles========= */

@media (max-width:576px) {
    
    .weather-box{
        width: 300px;
        height:496px;
        padding: 15px;
    }
    
    #search-city{
        padding:10px 20px;
    }
    
    .location span{
        font-size: 20px;
    }
    .weather-data{
        padding: 0;
    }
    
    .weather-info-container img{
        width: 120px;
        height: 120px;
    }
    
    .condition-item span{
        font-size: 25px;
    }
    
    .forecast-item{
        margin-top: 25px;
        margin-bottom: 10px;
        min-width: 70px;
    }
    .forecast-container{
        /* padding-left: 120px; */
        justify-content: start;
        overflow-x: scroll;
        padding-bottom: 12px;
    }
    .forecast-container::-webkit-scrollbar{
        height:8px;
    }
    .forecast-container::-webkit-scrollbar-track{
        background: rgba(0,0,0,0.1);
        border-radius: 99px;
    }
    .forecast-container::-webkit-scrollbar-thumb{
        background: rgba(0,0,0,0.15);
        border-radius: 99px;

    }
    .forecast-item img{
        width: 30px;
        height: 30px;
    }
    .weather-condition-container{
        margin-top: 10px;
    }
    .forecast-item:hover{
        background: rgba(255,255,255,0.15);
    }
    .section-msg img{
        width: 300px;
    }
    .section-msg {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }    
}